<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursed Graphics: {image_id}</title>
    <meta property="og:title" content="Cursed Graphics: {image_id}" />
    <meta property="og:type" content="image" />
    <meta property="og:url" content="https://cursed.graphics/{image_id}" />
    <meta property="og:image" content="https://raw.cursed.graphics/{image_filename}" />
    <style>
        body {{
            margin: 0;
            padding: 0;

            min-height: 100vh;
            width: 100vw;
            
            display: flex;
            justify-content: center;
            align-items: center;
        }}

        main {{
            text-align: center;
            max-width: 800px;
            width: 100%;
        }}

        main>img {{
            width: 100%;
            border: 3px solid black;
        }}
    </style>
</head>
<body>
    <main>
        <img src="https://raw.cursed.graphics/{image_filename}">
        <a href="/">Random</a>
    </main>
</body>
</html>